    :root{
        --light:white;
        --dark:#333;
        --violet: rgb(120, 60, 250);
        --coral:coral;
        --red:red;


        --main-color:var(--dark);
        --secondary-color: var(--violet);

        --text-color: var(--light);
        --color-operator: var(--violet);
        --border-thin:3px;
        --border-color:rgb(120, 60, 250);
        --corner:12px;
        --spacing:15px;
    }

/**RESET CSS ******/
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }
/***** FIN RESET****/

    body{
        background:var(--dark) ;
        color:var(--light);  
    }

/*****CLASSE GENERIQUES****/
        .red{
            border:1px solid var(--red)!important;
        }

/*****/

/****CONTAINER ****/
    .container-center{
        margin: 2rem  auto;
        width:650px;
    }

    .flex-center{
        display: flex;
        justify-content: stretch;
        justify-content: center;
        align-items: center;
    }
    
    .container-flex{
        display:flex;
        margin:1rem;
        padding:1rem;
        /* max-width: 800px; */
        flex-flow:column wrap;
        gap:var(--spacing);
        border: var(--border-thin) solid var(--border-color);
        border-radius: var(--corner);
        justify-content:center;
        background-color: var(--secondary-color);
    }
    
/**** FIN CONTAINER ****/




    /***** LCD ******/
    #display{
        padding:1.4rem;
        border: 1px solid white;
        border-radius: var(--corner);
        /* flex-basis: 100px; */
        background-color: var(--main-color);

    text-align: right;
    font-size:3rem;
    }
    /***** FIN LCD ******/


    /*****TOUCHE********/
    #touch-grid{

        /* pour redimensionner en tant enfant flex*/
        border: 1px solid rgb(236, 233, 42);
        border-radius: var(--corner);
        background-color: var(--main-color);
        display: grid;

        grid-template-columns: repeat(4,100px);
        grid-template-rows: repeat(5, 100px);

        grid-template-areas: 
            "ac SQ mod opPlus" 
            "n7 n8 n9 opMoins"
            "n4 n5 n6 opDivided"
            "n1 n2 n3 opMultiply"
            "n0 pt opEgal opEgal";

        justify-content: space-evenly;
        gap: var(--spacing);
        padding:1rem;
        font-size: 2.5rem;
    }

    #touch-grid .item{
        border: 1px solid coral;
        border-radius: 50%;
        width:100%;
        height:100%;

        text-align: center;
        font-size: 2.5rem;
    }

    #touch-grid .item:hover{
        cursor: pointer;
        transform: scale(1.04);
        transition:  0.4s 0s cubic-bezier(0.39, 0.575, 0.565, 1);
        background: var(--light); 
    
        color: var(--dark);
    }

    #touch-grid .item:nth-child(14) {
        grid-area:mod;
    }

    #touch-grid .item:nth-child(13) {
        grid-area:SQ;
    }

    #touch-grid .item:nth-child(12){
        grid-area:ac;
    }

    #touch-grid .item:nth-child(11){
        grid-area: pt;
    }

    #touch-grid .item:nth-child(10){
        grid-area: n0; 
    }

    #touch-grid .item:nth-child(9){
        grid-area: n9;
    }
    #touch-grid .item:nth-child(8){
        grid-area: n8;
    }

    #touch-grid .item:nth-child(7){
        grid-area: n7;
    }
    #touch-grid .item:nth-child(6){
        grid-area: n6;
    }
    #touch-grid .item:nth-child(5){
        grid-area: n5;
    }
    #touch-grid .item:nth-child(4){
        grid-area: n4;
    }
    #touch-grid .item:nth-child(3){
        grid-area: n3;
    }
    #touch-grid .item:nth-child(2){
        grid-area: n2;
    }
    #touch-grid .item:nth-child(1){
        grid-area: n1;
    }

    #touch-grid .operator-egal{
        grid-area: opEgal;
        width:100%;
        border-radius: 30px;    
        border: 1px solid rgb(80, 255, 98) !important;
    }

    .operator{
        border: 1px solid var(--color-operator)!important; 
    } 

    .operator-plus{
        grid-area: opPlus;
    }

    .operator-moins {
        grid-area: opMoins;
    }

    .operator-multiply {
        grid-area: opMultiply;
    }

    .operator-divide {
        grid-area: opDivided;
    }


    /******FIN TOUCHE******/

@media screen and (max-width : 600px) {
    .container-center {
        margin: 5rem 1rem;
    }
}